<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Formulário de Idade</h1>

    <form action="/" method="POST">
        <label for="nome">Digite seu nome:</label>
        <input type="text" id="nome" name="nome">
        <br>

        <label for="sobrenome">Digite seu sobrenome:</label>
        <input type="text" id="sobrenome" name="sobrenome">
        <br>

        <label for="idade">Digite sua idade</label>
        <input type="text" id="idade" name="idade">
        <br>

        <label for="pais">Digite seu país</label>
        <input type="text" id="pais" name="pais">
        <br>
        
        <input type="submit" value="Visualizar">
        <input type="submit" value="Editar">
    </form>
</body>
</html>