<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Usuário</title>
</head>
<body>
    <form action="/cadastrar" method="POST">
        <p>Nome: <%= nome %></p>
        <p>Sobrenome: <%= sobrenome %></p>
        <p>Idade: <%= idade %></p>
        <input type="submit" id="cadastrar" name="cadastrar" value="Cadastrar Usuário">
    </form>
</body>
</html>